.portfolio__container {
  width: 60%;
  text-align: center;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  margin-bottom: 3rem;
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
  margin: auto;
  height: auto;
  max-width: 45rem;

}

.portfolio__item-image video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1.5rem;
}

.portfolio__item-image a {
  display: block;
  transition: opacity 0.3s ease;
}

.portfolio__item-image a:hover {
  opacity: 0.9;
}

.portfolio__item h3 {
  margin-top: 1.2rem;
  margin-bottom: 0.6rem;
  text-align: center;

}

/* .portfolio__item p {
  margin-bottom: 1rem;
  text-align: center;

} */

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.portfolio__description2 {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  color: var(--color-light)
}

.portfolio__description {
  margin-bottom: 0.5rem;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--color-primary);

}



/* ============ MEDIA QUERIES (MEDIUM DEVCIES - TABLETS) ============= */

@media screen and (max-width: 1024px) {


  .portfolio__container{
    width: var(--container-width-md)
  }
  
  .portfolio__item-cta a{
    width: 8rem;
  } 

  
}
/* ============ MEDIA QUERIES (SMALL DEVCIES - MOBILE) ============= */

@media screen and (max-width: 600px) {

  .portfolio__item-cta a{
    width: 8rem;
  } 
}

